header { 
    background-color: red;
    grid-area: encabezado;
   /* height: 8vh;*/
    display: flex;
    align-items: center;
    h1 {
        color: white;
        font-style: italic;
        font-weight: bold; 
    }
}