//Map
$blanco: #fff; 
$rojo: red;
$negro: #000; 

$paleta: (
    primary: #00bcd4,
    secondary: #607d8b,
    success: #4caf50,
    info: #03a9f4,
    warning: #ffc107,
);

// Bucle 
@each $nombre, $color in $paleta {
    .#{$nombre} {
        text-align: center;
        color: $color;
        font-size: 20px;
        font-style: italic;
        background-color: black;
     }
}

// Mixin

@mixin botonMixin ($color, $alto, $ancho) {
    background-color: $color;
    width: $alto; 
    height: $ancho;
    border: 1px solid $color;
    border-radius: 5px;
    display: inline-block
}

@each $nombre, $paletaColor in $paleta {
   .#{$nombre}Card {
       @include botonMixin($paletaColor, 300px, 400px);
   }
}

//Extend 