@import "header";
@import "footer";
@import "paleta";
$blanco: #fff; 
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;    
}

#gridarea {
    background-color: grey;
    width: auto;
    height: 100vh;
    margin: 0% auto;
    display: grid; 
    grid-template-areas: 
   "encabezado encabezado"
   "menu menu"
   "contenido publicidad"
   "contenido publicidad"
   "pie pie";
    grid-template-columns: auto;
    grid-template-rows: 80px 27vh auto 200px auto auto;
    justify-items: center;
    align-items: center;
}

nav {
    grid-area: menu;
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 2;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .redes {
        list-style-type: none;
        display: flex;
        justify-content: end;
        align-items: center;
     li {
            width: 4%;
        }
    }
    .facebook {
        color: blue;
        font-size: 40px;
    }
    .whatsapp {
        color: green;
        font-size: 40px;
    }
    .twitter {
        color: cornflowerblue;
        font-size: 40px;
    }
    .logo {
       height: 10vh;
       display: flex;
       align-items: center;
        img {
        width: 80px;
        height: 80px;
        margin-left: 16px;
    }
    
    }
    .navBarra {
        text-align: center; 
        list-style-type: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    
    }
    li {
        width: 16%;  
    }
    li:hover {
        background-color: red;
    }
    a {
        text-decoration: none;
        color: $blanco;
        font-style: italic;
    }
    form {
        display: flex;
        justify-content: end;
        align-items: center;
        input { 
            width: 90px;     
            height: 35px;
            border-radius: 10px; 
            }
            input:focus {
                width: 240px;
                 }
    }
}  

main {
    grid-area: contenido;
     /*height: 120vh;*/ 
     .subtitle {
        background-image: linear-gradient(to right, #f5f5f5, #000 );
        padding-left: 240px;
    }
    h2 {
        margin-top: 8px;
        display: flex;
        justify-content: center;
        color: $blanco;
        font-style: italic;

        &:hover {
            color: red;
        }
    }
    .contenedor {
        margin-top: 20px;
        height: 52vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        .caja {
            width: 400px;
            transition: all 2s; 
            img {
                width: 100%;
                height: auto;
            }
            .txt {
                font-style: italic;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    .caja--translate:hover {
        transform: translate(30px, 50px);
    }
    .caja--translater:hover {
        transform: translate(-30px, 50px);
    }
    .caja--scale:hover {
        transform: scale(1.1);
    }
    .caja--animation {
        animation-name: mi_animacion;
        animation-timing-function: ease;
        animation-iteration-count: initial;
        animation-duration: 5s;
        animation-delay: 2s;
    }
    
    @keyframes mi_animacion {
        0% {
            transform: scale(0px, 0px);
            width: 0%;
        }
    
    
        100% {
            width: 50%;
            transform: scale(30px, 30px);
        }
    }
    .importante {
        display: flex;
        justify-content: center;
        margin-left: 30vh;
        color: $blanco;
        font-style: italic;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
    }
    
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 120px;
    column-gap: 1rem;
    row-gap: 1rem;
    display: flex;
    row-gap: nowrap;
    div {
        border: solid 1px tomato;
    }
    
}
p {
    justify-content: center;
    align-items: center;
    color: $blanco; 
    margin-top: 30px;
    font-size: 20px;

}
.formulario {
    color: $blanco;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}

.gridtabla {
    margin-top: 10px;
    display: grid;
    height: 300px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 2fr);
    row-gap: 10px;
    column-gap: 5px;
    div {
        background-color: rgb(0, 162, 255);
    }
}
}

aside {
    /*height: 5vh;*/
    grid-area: publicidad;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .publicidad {
        color: $blanco;
        font-style: italic;
    }
}

section {
    grid-area: textos;
    background-color: aquamarine;
}

/*Desktop*/ 
@media screen and (max-width: 1200px) {
    .facebook {
        font-size: 30px;
    }
    .whatsapp {
        font-size: 30px;
    }
    .twitter {
        font-size: 30px;
    }
    .contenedor {
        height: auto;
    }
    #gridarea {
        background-color: #72cef2;
    }
    .gridareaHeader {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 32px;
    } 
    .caja--translate:hover {
        transform: scale(1.1);
    }
    .caja--translater:hover {
        transform: scale(1.1);
    }
    .caja--scale:hover {
        transform: scale(1.1);
    }
    
}
/*Laptop*/
@media screen and (max-width: 1024px) {
    .gridareaHeader { 
        font-size: 42px;
        margin-top: 55px;
        margin-bottom: 30px;
     }
    .facebook {
        font-size: 30px;
    }
    .whatsapp {
        font-size: 30px;
    }
    .twitter {
        font-size: 30px;
    }
    .contenedor {
        height: auto;
    }
    #gridarea {
        background-color: #f26764;
    }
    .subtitle {
        margin-right: 200px;
    }
    
     .importante {
       
        margin-right: 200px;
     }

    }
  

/*Tablet*/
@media screen and (max-width: 768px) {
    .gridareaHeader {
        margin-top: 10px;
        margin-bottom: 42px;
        font-size: 19px;
    }
 
    .redes li {
        width: 8%;
    }
    .facebook {
        font-size: 40px;
    }
    .whatsapp {
        font-size: 40px;
    }
    .twitter {
        font-size: 40px;
    }
    .navBarra {
        flex-direction: column;
    }
    .contenedor {
        height: auto;
    }
    #gridarea {
        background-color: #f2dc99;
    }
    
    .subtitle {
        margin-top: 45px;
        margin-left: 50px;
        margin-right: 140px;
        font-size: 25px;
     }
     main p {
         font-size: 30px;
     }
     .creditos {
         font-size: 30px;
     }
   }
/*Mobile*/ 
@media screen and (max-width: 480px) {
    .gridareaHeader {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 50px;
    }
    .redes {
        display: flex;
        justify-content: end;
        margin-right: 100px;

      
    }
    .redes li {
        width: 14%;
    }
    .facebook {
        font-size: 50px;
    }
    .whatsapp {
        font-size: 50px;
    }
    .twitter {
        font-size: 50px;
    }
    .navBarra {
        font-size: 30px;
    }
    nav form {
    margin-right: 20px;
    }
    nav form input {
        height: 70px;
        width: 300px;
     
    }
    .contenedor {
        height: auto;
    }
    #gridarea {
        background-color: green;
        grid-template-columns: 1fr;
         grid-template-rows: 1fr;
    }
    
    .subtitle {
        margin-top: 20px;
        font-size: 40px;
    }
    .txt {
        font-size: 30px;
    }
   .publicidad {
       font-size: 20px;
   }
   .creditos {
       font-size: 30px;
   }
}


































